html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #774e2e;
}

.header {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 150px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav a {
  text-decoration: none;
  color: #774e2e;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px;
}
.header__nav a:first-child {
  margin-right: 50px;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__info {
  width: 50%;
}
.header__img {
  width: 50%;
}
.header__title {
  color: #f37f34;
  font-size: 110px;
  font-weight: 800;
  letter-spacing: 5.5px;
  width: 470px;
  margin-bottom: 40px;
}
.header__title span {
  display: inline-block;
  color: #774e2e;
}
.header__subtitle {
  color: #774e2e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 150%;
  letter-spacing: 0.16px;
}
.header__btn {
  display: inline-block;
  padding: 20px 30px;
  background: #774e2e;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

.title {
  color: #f37f34;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.title span {
  color: #774e2e;
}

.like {
  background: #fff9ea;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 150px;
}
.like__carts {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.like__cart {
  width: 370px;
  height: 462px;
  background: #fff;
}
.like__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 15px;
}
.like__subtitle {
  padding: 0 20px 0px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.advice {
  background: #fff;
  margin-bottom: 150px;
}
.advice__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advice__info {
  width: 50%;
}
.advice__top {
  text-align: left;
  margin-bottom: 30px;
}
.advice__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.16px;
  padding-right: 20px;
  margin-bottom: 60px;
}
.advice__img {
  width: 50%;
}
.advice__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.24px;
  margin-bottom: 20px;
}
.advice__list {
  padding-left: 20px;
}
.advice__item {
  list-style: disc;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.footer {
  background: #774e2e;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 40px 0;
}
.footer__text {
  color: #fff;
  text-align: right;
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.36px;
}